<% tasks_container.each do |task| %>
    
	<header>
      <h2><%= link_to task.name, task %> </h2>
    </header>
			<li><strong>Details</strong>: <%= task.details %></li>
			<li><strong>Priority</strong>: <%= task.priority %></li>
			<li><strong>Status</strong>: <%= task.status %></li><br><br>
<% end %>
